.social {
    &__link {
        &:hover {
            text-decoration: none;
        }
        &_menu {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
    &__img {
        width: 20px;
        height: 20px;
        &_hover:hover path{
            fill: $main-color;
        }
    }
}